__pycache__/
*.pyc
*.pyo
.env
Datos/Macro/
datos/precios/
datos/Logs/
datos/Reportes/
datos/seguimiento/
datos/historico/
instance/
logs/
*.parquet
datos/portafolios/
datos/usuarios.json
datos/logs_actividad.json